
header {
    background-color: dodgerblue;
    line-height: 4rem;
    color: white;
    font-size: 2rem;
    width:100%;
}

body {
  text-align: center;
  margin:auto;
 
}
main {
text-align: center;
margin: auto;


}

input[type="text"]{
    font-size: 2rem;
    width:40px;
    margin: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width:300px;
    text-align: center;
    margin:auto;
    margin-bottom:10px;
    padding:10px;
    
}

#content p {
    margin-top: 15px;
}

#outPut {   
    margin-top: 10px;
    background-color: dodgerblue;
    padding:15px;
    color: white;
    width: 300px;
    margin:auto;
    
}

/* CSS */
.button-7 {
    width:80px;
     background-color: #0095ff;
     border: 1px solid transparent;
     border-radius: 3px;
     box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: inline-block;
     font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.15385;
     margin: 0;
     outline: none;
     padding: 8px;
     position: relative;
     text-align: center;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     white-space: nowrap;
   }
   
   .button-7:hover,
   .button-7:focus {
     background-color: #07c;
   }
   
   .button-7:focus {
     box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
   }
   
   .button-7:active {
     background-color: #0064bd;
     box-shadow: none;
   }